/* Custom styles */

.box {
  border: 2px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.modal-dialog.contact-modal-dialog {
  max-width: 800px; /* Adjust as needed */
}

.navbar-toggler {
  border: none; /* Remove border */
}

/* Custom collapse icon */
.custom-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0,0,0,.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  width: 30px; /* Adjust icon width as needed */
  height: 30px; /* Adjust icon height as needed */
  color: 00FF00;
}


