/* Custom styles */

.box {
  border: 2px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.modal-dialog.contact-modal-dialog {
  max-width: 800px; /* Adjust as needed */
}


.navbar-toggler {
  border: none; /* Remove border */
}
.bg-color{
  background-color: #000000;
}

/* Custom collapse icon */
.custom-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,0,0,.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 12h22M4 15h22M4 18h22'/%3e%3c/svg%3e");
  width: 30px; /* Adjust icon width as needed */
  height: 30px; /* Adjust icon height as needed */
}
.jumbotron {
  font-family: 'Assistant', sans-serif; /* Apply Assistant font to jumbotron */
}
.footer-height{
  min-height: 200px;
  margin-top: 100px;
}

/* Style for gradient */
#gradient-section {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  color: #ffffff;
  padding: 30px;
}
.content-area{
  border-radius: 10px;
  background-color: #000000;
  padding: 30px;
}
.circle-container {
  display: flex;
  justify-content: flex-start; /* Shift circles to the left */
  padding-left: 30px; /* Add padding to the left of the circles */
}
.circle {
  width: 20px;  /* Adjust circle size as needed */
  height: 20px;
  background-color: #c850c04f;  /* Change color as desired */
  border-radius: 50%;  /* Create a circle */
  margin: 6px;
}
.circle-2 {
  width: 20px;  /* Adjust circle size as needed */
  height: 20px;
  background-color: #c850c04f;  /* Change color as desired */
  border-radius: 50%;  /* Create a circle */
  margin: 6px;
}
.set-margin{
  padding: 30px;
}
.text-color-a {
  /* color: #ac86a9de; */
  color: #d63131;
  /* font-weight: bolder; */
}
.text-color-b {
  color: #ffffff;
  font-weight: 100;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word; 
}
.text-color-a1 {
  color: #36e71e;
}
.text-color-a2 {
  color: #FFCC70;
}
.icon-1 {
  color: #FF0000;
}
.courses-box {
  margin-top: 20px;
  margin-bottom: 20px;
}
.hr-1 {
  border-top: 1px solid #ffffff;
}
